<div>
  <h2 id="page-heading" data-cy="ResultatSolvableHeading">
    <span jhiTranslate="nora3App.resultatSolvable.home.title">Resultat Solvables</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="nora3App.resultatSolvable.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-resultat-solvable"
        [routerLink]="['/resultat-solvable/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="nora3App.resultatSolvable.home.createLabel">Create a new Resultat Solvable</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (resultatSolvables().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="nora3App.resultatSolvable.home.notFound">No Resultat Solvables found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="moisSolvabiliteDate">
              <div class="d-flex">
                <span jhiTranslate="nora3App.resultatSolvable.moisSolvabiliteDate">Mois Solvabilite Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="codeEtatSolvabilite">
              <div class="d-flex">
                <span jhiTranslate="nora3App.resultatSolvable.codeEtatSolvabilite">Code Etat Solvabilite</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="codeAgent">
              <div class="d-flex">
                <span jhiTranslate="nora3App.resultatSolvable.codeAgent">Code Agent</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="userCreation">
              <div class="d-flex">
                <span jhiTranslate="nora3App.resultatSolvable.userCreation">User Creation</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="creationDate">
              <div class="d-flex">
                <span jhiTranslate="nora3App.resultatSolvable.creationDate">Creation Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="userMaj">
              <div class="d-flex">
                <span jhiTranslate="nora3App.resultatSolvable.userMaj">User Maj</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="majDate">
              <div class="d-flex">
                <span jhiTranslate="nora3App.resultatSolvable.majDate">Maj Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="numMaj">
              <div class="d-flex">
                <span jhiTranslate="nora3App.resultatSolvable.numMaj">Num Maj</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="rechercheSolvable.id">
              <div class="d-flex">
                <span jhiTranslate="nora3App.resultatSolvable.rechercheSolvable">Recherche Solvable</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (resultatSolvable of resultatSolvables(); track trackId(resultatSolvable)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/resultat-solvable', resultatSolvable.id, 'view']">{{ resultatSolvable.id }}</a>
              </td>
              <td>{{ resultatSolvable.moisSolvabiliteDate | formatMediumDate }}</td>
              <td>{{ resultatSolvable.codeEtatSolvabilite }}</td>
              <td>{{ resultatSolvable.codeAgent }}</td>
              <td>{{ resultatSolvable.userCreation }}</td>
              <td>{{ resultatSolvable.creationDate }}</td>
              <td>{{ resultatSolvable.userMaj }}</td>
              <td>{{ resultatSolvable.majDate }}</td>
              <td>{{ resultatSolvable.numMaj }}</td>
              <td>
                @if (resultatSolvable.rechercheSolvable) {
                  <div>
                    <a [routerLink]="['/recherche-solvable', resultatSolvable.rechercheSolvable.id, 'view']">{{
                      resultatSolvable.rechercheSolvable.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/resultat-solvable', resultatSolvable.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/resultat-solvable', resultatSolvable.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(resultatSolvable)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
