<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-enfant-heading" data-cy="EnfantCreateUpdateHeading" jhiTranslate="nora3App.enfant.home.createOrEditLabel">
        Create or edit a Enfant
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="nora3App.enfant.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nir" jhiTranslate="nora3App.enfant.nir">Nir</label>
          <input type="text" class="form-control" name="nir" id="field_nir" data-cy="nir" formControlName="nir" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cleNir" jhiTranslate="nora3App.enfant.cleNir">Cle Nir</label>
          <input type="number" class="form-control" name="cleNir" id="field_cleNir" data-cy="cleNir" formControlName="cleNir" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_numPersonneGaia" jhiTranslate="nora3App.enfant.numPersonneGaia">Num Personne Gaia</label>
          <input
            type="number"
            class="form-control"
            name="numPersonneGaia"
            id="field_numPersonneGaia"
            data-cy="numPersonneGaia"
            formControlName="numPersonneGaia"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_codeAgent" jhiTranslate="nora3App.enfant.codeAgent">Code Agent</label>
          <input type="text" class="form-control" name="codeAgent" id="field_codeAgent" data-cy="codeAgent" formControlName="codeAgent" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_userCreation" jhiTranslate="nora3App.enfant.userCreation">User Creation</label>
          <input
            type="text"
            class="form-control"
            name="userCreation"
            id="field_userCreation"
            data-cy="userCreation"
            formControlName="userCreation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_creationDate" jhiTranslate="nora3App.enfant.creationDate">Creation Date</label>
          <input
            type="time"
            class="form-control"
            name="creationDate"
            id="field_creationDate"
            data-cy="creationDate"
            formControlName="creationDate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_userMaj" jhiTranslate="nora3App.enfant.userMaj">User Maj</label>
          <input type="text" class="form-control" name="userMaj" id="field_userMaj" data-cy="userMaj" formControlName="userMaj" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_majDate" jhiTranslate="nora3App.enfant.majDate">Maj Date</label>
          <input type="time" class="form-control" name="majDate" id="field_majDate" data-cy="majDate" formControlName="majDate" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_numMaj" jhiTranslate="nora3App.enfant.numMaj">Num Maj</label>
          <input type="number" class="form-control" name="numMaj" id="field_numMaj" data-cy="numMaj" formControlName="numMaj" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dossier" jhiTranslate="nora3App.enfant.dossier">Dossier</label>
          <select
            class="form-control"
            id="field_dossier"
            data-cy="dossier"
            name="dossier"
            formControlName="dossier"
            [compareWith]="compareDossier"
          >
            <option [ngValue]="null"></option>
            @for (dossierOption of dossiersSharedCollection(); track $index) {
              <option [ngValue]="dossierOption">{{ dossierOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
