<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-statut-heading" data-cy="StatutCreateUpdateHeading" jhiTranslate="nora3App.statut.home.createOrEditLabel">
        Create or edit a Statut
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="nora3App.statut.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_statutDebutDate" jhiTranslate="nora3App.statut.statutDebutDate">Statut Debut Date</label>
          <input
            type="time"
            class="form-control"
            name="statutDebutDate"
            id="field_statutDebutDate"
            data-cy="statutDebutDate"
            formControlName="statutDebutDate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_statutFinDate" jhiTranslate="nora3App.statut.statutFinDate">Statut Fin Date</label>
          <input
            type="time"
            class="form-control"
            name="statutFinDate"
            id="field_statutFinDate"
            data-cy="statutFinDate"
            formControlName="statutFinDate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_codeStatut" jhiTranslate="nora3App.statut.codeStatut">Code Statut</label>
          <input
            type="text"
            class="form-control"
            name="codeStatut"
            id="field_codeStatut"
            data-cy="codeStatut"
            formControlName="codeStatut"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_motifStatut" jhiTranslate="nora3App.statut.motifStatut">Motif Statut</label>
          <input
            type="text"
            class="form-control"
            name="motifStatut"
            id="field_motifStatut"
            data-cy="motifStatut"
            formControlName="motifStatut"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_codeAgent" jhiTranslate="nora3App.statut.codeAgent">Code Agent</label>
          <input type="text" class="form-control" name="codeAgent" id="field_codeAgent" data-cy="codeAgent" formControlName="codeAgent" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_userCreation" jhiTranslate="nora3App.statut.userCreation">User Creation</label>
          <input
            type="text"
            class="form-control"
            name="userCreation"
            id="field_userCreation"
            data-cy="userCreation"
            formControlName="userCreation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_creationDate" jhiTranslate="nora3App.statut.creationDate">Creation Date</label>
          <input
            type="time"
            class="form-control"
            name="creationDate"
            id="field_creationDate"
            data-cy="creationDate"
            formControlName="creationDate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_userMaj" jhiTranslate="nora3App.statut.userMaj">User Maj</label>
          <input type="text" class="form-control" name="userMaj" id="field_userMaj" data-cy="userMaj" formControlName="userMaj" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_majDate" jhiTranslate="nora3App.statut.majDate">Maj Date</label>
          <input type="time" class="form-control" name="majDate" id="field_majDate" data-cy="majDate" formControlName="majDate" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_numMaj" jhiTranslate="nora3App.statut.numMaj">Num Maj</label>
          <input type="number" class="form-control" name="numMaj" id="field_numMaj" data-cy="numMaj" formControlName="numMaj" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dossier" jhiTranslate="nora3App.statut.dossier">Dossier</label>
          <select
            class="form-control"
            id="field_dossier"
            data-cy="dossier"
            name="dossier"
            formControlName="dossier"
            [compareWith]="compareDossier"
          >
            <option [ngValue]="null"></option>
            @for (dossierOption of dossiersSharedCollection(); track $index) {
              <option [ngValue]="dossierOption">{{ dossierOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
