<div>
  <h2 id="page-heading" data-cy="RechercheSolvableHeading">
    <span jhiTranslate="nora3App.rechercheSolvable.home.title">Recherche Solvables</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="nora3App.rechercheSolvable.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-recherche-solvable"
        [routerLink]="['/recherche-solvable/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="nora3App.rechercheSolvable.home.createLabel">Create a new Recherche Solvable</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (rechercheSolvables().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="nora3App.rechercheSolvable.home.notFound">No Recherche Solvables found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="rechercheSolvabiliteDebutDate">
              <div class="d-flex">
                <span jhiTranslate="nora3App.rechercheSolvable.rechercheSolvabiliteDebutDate">Recherche Solvabilite Debut Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="codeAgent">
              <div class="d-flex">
                <span jhiTranslate="nora3App.rechercheSolvable.codeAgent">Code Agent</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="userCreation">
              <div class="d-flex">
                <span jhiTranslate="nora3App.rechercheSolvable.userCreation">User Creation</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="creationDate">
              <div class="d-flex">
                <span jhiTranslate="nora3App.rechercheSolvable.creationDate">Creation Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="userMaj">
              <div class="d-flex">
                <span jhiTranslate="nora3App.rechercheSolvable.userMaj">User Maj</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="majDate">
              <div class="d-flex">
                <span jhiTranslate="nora3App.rechercheSolvable.majDate">Maj Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="numMaj">
              <div class="d-flex">
                <span jhiTranslate="nora3App.rechercheSolvable.numMaj">Num Maj</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="debiteur.id">
              <div class="d-flex">
                <span jhiTranslate="nora3App.rechercheSolvable.debiteur">Debiteur</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (rechercheSolvable of rechercheSolvables(); track trackId(rechercheSolvable)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/recherche-solvable', rechercheSolvable.id, 'view']">{{ rechercheSolvable.id }}</a>
              </td>
              <td>{{ rechercheSolvable.rechercheSolvabiliteDebutDate }}</td>
              <td>{{ rechercheSolvable.codeAgent }}</td>
              <td>{{ rechercheSolvable.userCreation }}</td>
              <td>{{ rechercheSolvable.creationDate }}</td>
              <td>{{ rechercheSolvable.userMaj }}</td>
              <td>{{ rechercheSolvable.majDate }}</td>
              <td>{{ rechercheSolvable.numMaj }}</td>
              <td>
                @if (rechercheSolvable.debiteur) {
                  <div>
                    <a [routerLink]="['/debiteur', rechercheSolvable.debiteur.id, 'view']">{{ rechercheSolvable.debiteur.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/recherche-solvable', rechercheSolvable.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/recherche-solvable', rechercheSolvable.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(rechercheSolvable)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
