<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (rechercheSolvable(); as rechercheSolvableRef) {
      <div>
        <h2 data-cy="rechercheSolvableDetailsHeading">
          <span jhiTranslate="nora3App.rechercheSolvable.detail.title">Recherche Solvable</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ rechercheSolvableRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="nora3App.rechercheSolvable.rechercheSolvabiliteDebutDate">Recherche Solvabilite Debut Date</span></dt>
          <dd>
            <span>{{ rechercheSolvableRef.rechercheSolvabiliteDebutDate }}</span>
          </dd>
          <dt><span jhiTranslate="nora3App.rechercheSolvable.codeAgent">Code Agent</span></dt>
          <dd>
            <span>{{ rechercheSolvableRef.codeAgent }}</span>
          </dd>
          <dt><span jhiTranslate="nora3App.rechercheSolvable.userCreation">User Creation</span></dt>
          <dd>
            <span>{{ rechercheSolvableRef.userCreation }}</span>
          </dd>
          <dt><span jhiTranslate="nora3App.rechercheSolvable.creationDate">Creation Date</span></dt>
          <dd>
            <span>{{ rechercheSolvableRef.creationDate }}</span>
          </dd>
          <dt><span jhiTranslate="nora3App.rechercheSolvable.userMaj">User Maj</span></dt>
          <dd>
            <span>{{ rechercheSolvableRef.userMaj }}</span>
          </dd>
          <dt><span jhiTranslate="nora3App.rechercheSolvable.majDate">Maj Date</span></dt>
          <dd>
            <span>{{ rechercheSolvableRef.majDate }}</span>
          </dd>
          <dt><span jhiTranslate="nora3App.rechercheSolvable.numMaj">Num Maj</span></dt>
          <dd>
            <span>{{ rechercheSolvableRef.numMaj }}</span>
          </dd>
          <dt><span jhiTranslate="nora3App.rechercheSolvable.debiteur">Debiteur</span></dt>
          <dd>
            @if (rechercheSolvable()!.debiteur) {
              <div>
                <a [routerLink]="['/debiteur', rechercheSolvable()!.debiteur?.id, 'view']">{{ rechercheSolvableRef.debiteur?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/recherche-solvable', rechercheSolvableRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
