<div>
  <h2 id="page-heading" data-cy="EnfantHeading">
    <span jhiTranslate="nora3App.enfant.home.title">Enfants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="nora3App.enfant.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-enfant"
        [routerLink]="['/enfant/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="nora3App.enfant.home.createLabel">Create a new Enfant</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (enfants().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="nora3App.enfant.home.notFound">No Enfants found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="nir">
              <div class="d-flex">
                <span jhiTranslate="nora3App.enfant.nir">Nir</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="cleNir">
              <div class="d-flex">
                <span jhiTranslate="nora3App.enfant.cleNir">Cle Nir</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="numPersonneGaia">
              <div class="d-flex">
                <span jhiTranslate="nora3App.enfant.numPersonneGaia">Num Personne Gaia</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="codeAgent">
              <div class="d-flex">
                <span jhiTranslate="nora3App.enfant.codeAgent">Code Agent</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="userCreation">
              <div class="d-flex">
                <span jhiTranslate="nora3App.enfant.userCreation">User Creation</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="creationDate">
              <div class="d-flex">
                <span jhiTranslate="nora3App.enfant.creationDate">Creation Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="userMaj">
              <div class="d-flex">
                <span jhiTranslate="nora3App.enfant.userMaj">User Maj</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="majDate">
              <div class="d-flex">
                <span jhiTranslate="nora3App.enfant.majDate">Maj Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="numMaj">
              <div class="d-flex">
                <span jhiTranslate="nora3App.enfant.numMaj">Num Maj</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dossier.id">
              <div class="d-flex">
                <span jhiTranslate="nora3App.enfant.dossier">Dossier</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (enfant of enfants(); track trackId(enfant)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/enfant', enfant.id, 'view']">{{ enfant.id }}</a>
              </td>
              <td>{{ enfant.nir }}</td>
              <td>{{ enfant.cleNir }}</td>
              <td>{{ enfant.numPersonneGaia }}</td>
              <td>{{ enfant.codeAgent }}</td>
              <td>{{ enfant.userCreation }}</td>
              <td>{{ enfant.creationDate }}</td>
              <td>{{ enfant.userMaj }}</td>
              <td>{{ enfant.majDate }}</td>
              <td>{{ enfant.numMaj }}</td>
              <td>
                @if (enfant.dossier) {
                  <div>
                    <a [routerLink]="['/dossier', enfant.dossier.id, 'view']">{{ enfant.dossier.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/enfant', enfant.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/enfant', enfant.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(enfant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
